Server/.idea/shelf/Uncommitted_changes_before_Update_at_28_12_2021_11_37_[Changes]/shelved.patch
Server/.idea/shelf/Uncommitted_changes_before_Update_at_28_12_2021_11_37__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_10_12_2021_10_43_[Changes]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_10_12_2021_10_43_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_10_12_2021_10_43__Changes_.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/workspace.xml
largescale.ovpn